# Configuration file

~CONFIG_VERSION: 1.5

##########################################################################################################
# root
#--------------------------------------------------------------------------------------------------------#
# 鸡你太美mod配置.
##########################################################################################################

root {

    ##########################################################################################################
    # client
    #--------------------------------------------------------------------------------------------------------#
    # 鸡你太美mod客户端配置.
    ##########################################################################################################

    client {
    }

    ##########################################################################################################
    # general
    #--------------------------------------------------------------------------------------------------------#
    # 鸡你太美mod通用设置.
    ##########################################################################################################

    general {
        # 启动远程访问mod.(重启生效) [default: true]
        B:isenabledTelnet=true

        # 远程访问端口 [range: 0 ~ 32767, default: 23]
        I:telnetPort=23
    }

}


