# Configuration file

caps {
    # Max liopleurodons within radius. [range: 0 ~ 64, default: 2]
    I:liopleurodon=2

    # Radius to count existing mobs. [range: 32 ~ 256, default: 128]
    I:radius=128

    # Max sharks within radius. [range: 0 ~ 64, default: 8]
    I:shark=8

    # Enable local soft caps for DRPG water mobs. [default: true]
    B:softCaps=true

    # Max whales within radius. [range: 0 ~ 64, default: 4]
    I:whale=4
}


general {
    # If true, logs when DRPG tries to register those mobs. [default: false]
    B:debugLogging=false

    # If true, denies LivingSpawnEvent.CheckSpawn for the three DRPG mobs. [default: false]
    B:denyCheckSpawn=false

    # If true, cancels EntityJoinWorldEvent for the three DRPG mobs (nothing can spawn them). [default: false]
    B:hardStop=false
}


