# Configuration file

general {
    I:AS_EntityGolem=0
    I:AS_EntityGolemFireball=0
    I:BlackSlime=0
    I:BlueSlime=0
    I:BossZombie=0
    I:CauldronTracker=0
    I:CustomProjectileEntity=0
    I:DummyPart=0
    I:EntityAbaia=0
    I:EntityAbtu=0
    I:EntityAbyssalZombie=0
    I:EntityAdvancedHunter=0
    I:EntityAdvancedVampire=0
    I:EntityAfrit=0
    I:EntityAglebemu=0
    I:EntityAmphithere=0
    I:EntityAnadia=0
    I:EntityAncientGolem=0
    I:EntityAngler=0
    I:EntityAnimaStone=0
    I:EntityAnimatedBlock=0
    I:EntityAnimatedChest=0
    I:EntityAntiAbyssalZombie=0
    I:EntityAntiBat=0
    I:EntityAntiChicken=0
    I:EntityAntiCow=0
    I:EntityAntiCreeper=0
    I:EntityAntiGhoul=0
    I:EntityAntiPlayer=0
    I:EntityAntiSkeleton=0
    I:EntityAntiSpider=0
    I:EntityAntiZombie=0
    I:EntityArchaeologist=0
    I:EntityAreaEffectCloud=0
    I:EntityAridWarrior=0
    I:EntityArisaur=0
    I:EntityArmorStand=0
    I:EntityAshen=0
    I:EntityAspid=0
    I:EntityAssassin=0
    I:EntityBabyRocketSquid=0
    I:EntityBabySkeleton=0
    I:EntityBabySpider=0
    I:EntityBanshee=0
    I:EntityBarghest=0
    I:EntityBasalz=0
    I:EntityBasicHunter=0
    I:EntityBasicVampire=0
    I:EntityBat=0
    I:EntityBeachStarfish=0
    I:EntityBeetle=0
    I:EntityBlackHole=0
    I:EntityBlackUrsa=0
    I:EntityBladderfish=0
    I:EntityBlaze=0
    I:EntityBlightFire=0
    I:EntityBlitz=0
    I:EntityBlizz=0
    I:EntityBloodlust=0
    I:EntityBloodmist=0
    I:EntityBlueSlime=0
    I:EntityBoat=0
    I:EntityBobeko=0
    I:EntityBombCarrier=0
    I:EntityBoneCreature=0
    I:EntityBoneGolem=0
    I:EntityBoneback=0
    I:EntityBookshelfGolem=0
    I:EntityBoomerang=0
    I:EntityBoulderSprite=0
    I:EntityBrainSlime=0
    I:EntityBrainyZombie=0
    I:EntityBrute=0
    I:EntityBugeye=0
    I:EntityBushBaby=0
    I:EntityCCGroundSpawner=0
    I:EntityCalpod=0
    I:EntityCaveCrawler=0
    I:EntityCaveFish=0
    I:EntityCaveSpider=0
    I:EntityCaveclops=0
    I:EntityCena=0
    I:EntityCephignis=0
    I:EntityChameleon=0
    I:EntityChargedQuartz=0
    I:EntityCharger=0
    I:EntityChicken=0
    I:EntityChickensChicken=0
    I:EntityChimera=0
    I:EntityChiromaw=0
    I:EntityChiromawGreeblingRider=0
    I:EntityChomper=0
    I:EntityChupacabra=0
    I:EntityCinderSpark=0
    I:EntityClam=0
    I:EntityClassWizard=0
    I:EntityClayGolem=0
    I:EntityClink=0
    I:EntityClown=0
    I:EntityCockatrice=0
    I:EntityCod=0
    I:EntityConcussionCreeper=0
    I:EntityController=0
    I:EntityCorruptedTraveller=0
    I:EntityCow=0
    I:EntityCoyote=0
    I:EntityCrab=0
    I:EntityCraftingGolem=0
    I:EntityCreeper=0
    I:EntityCryptCrawler=0
    I:EntityCryptkeeper=0
    I:EntityCultistPortalLesser=0
    I:EntityCustomMob10000=0
    I:EntityCyclops=0
    I:EntityDarkling=0
    I:EntityDartFrogs=0
    I:EntityDeadTree=0
    I:EntityDeathWorm=0
    I:EntityDecayPitTarget=0
    I:EntityDeer=0
    I:EntityDemonChicken=0
    I:EntityDemonCow=0
    I:EntityDemonPig=0
    I:EntityDemonReaper=0
    I:EntityDemonSheep=0
    I:EntityDepthsGhoul=0
    I:EntityDesertCharger=0
    I:EntityDesertCrawler=0
    I:EntityDeviantSkyworm=0
    I:EntityDeviantSlimeStrider=0
    I:EntityDicer=0
    I:EntityDivineArrow=0
    I:EntityDjinn=0
    I:EntityDodo=0
    I:EntityDonkey=0
    I:EntityDragon=0
    I:EntityDragonFire=0
    I:EntityDragonFly=0
    I:EntityDuck=0
    I:EntityDweller=0
    I:EntityEechetik=0
    I:EntityEelShark=0
    I:EntityElderGuardian=0
    I:EntityElkanyne=0
    I:EntityEmbrake=0
    I:EntityEnchantedBook=0
    I:EntityEnderCrystal=0
    I:EntityEnderSpider=0
    I:EntityEnderTriplets=0
    I:EntityEnderWatcher=0
    I:EntityEnderman=0
    I:EntityEndermini=0
    I:EntityEnderminy=0
    I:EntityEndstoneGolem=0
    I:EntityEnergyBlast=0
    I:EntityEnt=0
    I:EntityEnthralledDramcryx=0
    I:EntityEpicSquid=0
    I:EntityEpion=0
    I:EntityErepede=0
    I:EntityEttin=0
    I:EntityEverbeast=0
    I:EntityEvilChicken=0
    I:EntityEvilClassWizard=0
    I:EntityEvilCow=0
    I:EntityEvilWizard=0
    I:EntityEvilpig=0
    I:EntityEweFriesian=0
    I:EntityEyewig=0
    I:EntityFacelessRunner=0
    I:EntityFakePigman=0
    I:EntityFallingBlock=0
    I:EntityFallingTree=0
    I:EntityFemaleWolf=0
    I:EntityFeradon=0
    I:EntityFestiveCreeper=0
    I:EntityFireBat=0
    I:EntityFireDragon=0
    I:EntityFireRing=0
    I:EntityFirefly=0
    I:EntityFishix=0
    I:EntityFlameSpewer=0
    I:EntityFlamewalker=0
    I:EntityFluxBall=0
    I:EntityFly=0
    I:EntityFoglet=0
    I:EntityForceArrow=0
    I:EntityFox=0
    I:EntityFreshwaterUrchin=0
    I:EntityFrog=0
    I:EntityFrost=0
    I:EntityFrostShot=0
    I:EntityFrostweaver=0
    I:EntityFurlion=0
    I:EntityGarryfish=0
    I:EntityGecko=0
    I:EntityGeist=0
    I:EntityGeken=0
    I:EntityGhast=0
    I:EntityGhost=0
    I:EntityGhostineAncient=0
    I:EntityGhoul=0
    I:EntityGiantToad=0
    I:EntityGlaceSkeleton=0
    I:EntityGlacon=0
    I:EntityGlisteningPixon=0
    I:EntityGlowstoneGolem=0
    I:EntityGnekk=0
    I:EntityGoalby=0
    I:EntityGoblin=0
    I:EntityGoon=0
    I:EntityGorgomite=0
    I:EntityGrabbedBlock=0
    I:EntityGrizzlyBear=0
    I:EntityGroveSprite=0
    I:EntityGrue=0
    I:EntityGrunt=0
    I:EntityGuardian=0
    I:EntityHag=0
    I:EntityHarpy=0
    I:EntityHauntedTool=0
    I:EntityHeadlessHunter=0
    I:EntityHeartStone=0
    I:EntityHellSpider=0
    I:EntityHellSprout=0
    I:EntityHellcat=0
    I:EntityHellspot=0
    I:EntityHenLeghorn=0
    I:EntityHerma=0
    I:EntityHidingFungi=0
    I:EntityHillCharger=0
    I:EntityHippocampus=0
    I:EntityHippogryph=0
    I:EntityHolefish=0
    I:EntityHorndron=0
    I:EntityHorse=0
    I:EntityHunch=0
    I:EntityHunter=0
    I:EntityHusk=0
    I:EntityIceBall=0
    I:EntityIceCube=0
    I:EntityIka=0
    I:EntityIllagerPiper=0
    I:EntityInfernal=0
    I:EntityInfinityStone=0
    I:EntityIoray=0
    I:EntityIrkling=0
    I:EntityIronGolem=0
    I:EntityItem=0
    I:EntityItemFrame=0
    I:EntityItemIndestructible=0
    I:EntityItemTargetted=0
    I:EntityJabberwock=0
    I:EntityJackOMan=0
    I:EntityJail=0
    I:EntityJengu=0
    I:EntityJoust=0
    I:EntityJungleBat=0
    I:EntityJungleDramcryx=0
    I:EntityJungleSpider=0
    I:EntityKingCharger=0
    I:EntityKingCrab=0
    I:EntityKobblin=0
    I:EntityKobold=0
    I:EntityLacedon=0
    I:EntityLambFriesian=0
    I:EntityLargeFireball=0
    I:EntityLargeMagicFireball=0
    I:EntityLargeSludgeWorm=0
    I:EntityLatchedRenderer=0
    I:EntityLeech=0
    I:EntityLesserShoggoth=0
    I:EntityLinger=0
    I:EntityLiopleurodon=0
    I:EntityLittleBam=0
    I:EntityLivestockMerchant=0
    I:EntityLivingFungi=0
    I:EntityLlama=0
    I:EntityLlamaSpit=0
    I:EntityLongfin=0
    I:EntityLostMiner=0
    I:EntityLottoman=0
    I:EntityLoveChild=0
    I:EntityLurker=0
    I:EntityMagicke=0
    I:EntityMaka=0
    I:EntityMeleeRougeAndroidMob=0
    I:EntityMerchant=0
    I:EntityMimic=0
    I:EntityMinecartChest=0
    I:EntityMinecartTNT=0
    I:EntityMiner=0
    I:EntityMireSnail=0
    I:EntityMooshroom=0
    I:EntityMorphAcquisition=0
    I:EntityMotherSpider=0
    I:EntityMotherVoidWalker=0
    I:EntityMovingSpawnerHole=0
    I:EntityMovingWall=0
    I:EntityMuckopede=0
    I:EntityNatura=0
    I:EntityNaturalist=0
    I:EntityNecrovore=0
    I:EntityNightReaper=0
    I:EntityNightWatcher=0
    I:EntityNightfly=0
    I:EntityNitroCreeper=0
    I:EntityNymph=0
    I:EntityObsidianGolem=0
    I:EntityOcelot=0
    I:EntityOlm=0
    I:EntityOwl=0
    I:EntityParasite=0
    I:EntityParrot=0
    I:EntityPeatMummy=0
    I:EntityPech=0
    I:EntityPeeper=0
    I:EntityPersistentItem=0
    I:EntityPig=0
    I:EntityPigZombie=0
    I:EntityPigletLargeWhite=0
    I:EntityPingu=0
    I:EntityPixen=0
    I:EntityPlagueDoctor=0
    I:EntityPlayerSP=0
    I:EntityPolarUrsa=0
    I:EntityPowerRocket=0
    I:EntityPreservedBlock=0
    I:EntityPumpkinSpider=0
    I:EntityQuillbeast=0
    I:EntityRabbit=0
    I:EntityRabbitBuckDutch=0
    I:EntityRabbitBuckLop=0
    I:EntityRabbitDoeDutch=0
    I:EntityRabbitKitNewZealand=0
    I:EntityRainbour=0
    I:EntityRammerhead=0
    I:EntityRangedRogueAndroidMob=0
    I:EntityRat=0
    I:EntityRaven=0
    I:EntityRayfish=0
    I:EntityRealmshifter=0
    I:EntityRedSandstoneGolem=0
    I:EntityRemnant=0
    I:EntityRift=0
    I:EntityRifter=0
    I:EntityRoa=0
    I:EntityRoc=0
    I:EntityRockSnot=0
    I:EntityRocketCreeper=0
    I:EntityRocketSquid=0
    I:EntityRooster=0
    I:EntityRoosterLeghorn=0
    I:EntityRoosterOrpington=0
    I:EntityRotatick=0
    I:EntitySaguaroWorm=0
    I:EntitySalamander=0
    I:EntitySalmon=0
    I:EntitySandGolem=0
    I:EntitySandstoneGolem=0
    I:EntitySasquatch=0
    I:EntityScarecrow=0
    I:EntityScorcher=0
    I:EntityScrubby=0
    I:EntityScuttler=0
    I:EntitySeaCharger=0
    I:EntitySeaSerpent=0
    I:EntitySeaSerpentBubbles=0
    I:EntitySeaTroll=0
    I:EntitySentry=0
    I:EntityShade=0
    I:EntityShadow=0
    I:EntityShadowBeast=0
    I:EntityShadowCreature=0
    I:EntityShadowMonster=0
    I:EntityShambler=0
    I:EntityShamblerTwisted=0
    I:EntityShark=0
    I:EntitySheep=0
    I:EntityShooterBullet=0
    I:EntityShootingStar=0
    I:EntityShubOffspring=0
    I:EntitySilkworm=0
    I:EntitySiltCrab=0
    I:EntitySilverfish=0
    I:EntitySiren=0
    I:EntitySkeletalCowman=0
    I:EntitySkeletalKnight=0
    I:EntitySkeleton=0
    I:EntitySkeletonMage=0
    I:EntitySkeletonWarrior=0
    I:EntitySkipper=0
    I:EntitySkolle=0
    I:EntitySkylus=0
    I:EntitySlime=0
    I:EntitySlimeStrider=0
    I:EntitySludge=0
    I:EntitySludgeJet=0
    I:EntitySludgeLord=0
    I:EntitySmallSpider=0
    I:EntitySmollSludge=0
    I:EntitySnail=0
    I:EntitySnowCharger=0
    I:EntitySnowVillager=0
    I:EntitySoul=0
    I:EntitySowLargeWhite=0
    I:EntitySpectre=0
    I:EntitySphinx=0
    I:EntitySpider=0
    I:EntitySpinux=0
    I:EntitySpirit=0
    I:EntitySplashMeme=0
    I:EntitySplodeshroom=0
    I:EntitySpriggan=0
    I:EntitySprout=0
    I:EntitySquid=0
    I:EntityStalker=0
    I:EntityStarfish=0
    I:EntityStinger=0
    I:EntityStoneGuardian=0
    I:EntityStoneling=0
    I:EntityStrawGolem=0
    I:EntityStray=0
    I:EntityStrider=0
    I:EntitySupportCreeper=0
    I:EntitySutiramu=0
    I:EntitySwampCharger=0
    I:EntitySwampHag=0
    I:EntitySwarm=0
    I:EntityTNTPrimed=0
    I:EntityTarBeast=0
    I:EntityTarantula=0
    I:EntityTermite=0
    I:EntityTheEye=0
    I:EntityTheGrue=0
    I:EntityThorWeapon=0
    I:EntityTimeAccelerator=0
    I:EntityTinySludgeWorm=0
    I:EntityTinyWormEggSac=0
    I:EntityTippedArrow=0
    I:EntityTornado=0
    I:EntityTpumpkyn=0
    I:EntityTreasureSlime=0
    I:EntityTrickster=0
    I:EntityTricksterClone=0
    I:EntityTriffid=0
    I:EntityTriggeredFallingBlock=0
    I:EntityTriggeredSludgeWallJet=0
    I:EntityTroll=0
    I:EntityTrollager=0
    I:EntityTrump=0
    I:EntityUnburied=0
    I:EntityUndeadHerald=0
    I:EntityUndeadSwine=0
    I:EntityUnderfin=0
    I:EntityUndertaker=0
    I:EntityUrka=0
    I:EntityVertebron=0
    I:EntityVillager=0
    I:EntityVoidCharger=0
    I:EntityVoidCreeper=0
    I:EntityVoidWalker=0
    I:EntityVolcan=0
    I:EntityWallLamprey=0
    I:EntityWallLivingRoot=0
    I:EntityWarclops=0
    I:EntityWarg=0
    I:EntityWatcher=0
    I:EntityWendigo=0
    I:EntityWhale=0
    I:EntityWickett=0
    I:EntityWight=0
    I:EntityWildfire=0
    I:EntityWisp=0
    I:EntityWitch=0
    I:EntityWitherCat=0
    I:EntityWitherSkeleton=0
    I:EntityWitherWitch=0
    I:EntityWitherWizard=0
    I:EntityWizard=0
    I:EntityWolf=0
    I:EntityWoodGiant=0
    I:EntityWorm=0
    I:EntityWraamon=0
    I:EntityXPOrb=0
    I:EntityXPOrbBig=0
    I:EntityXaphan=0
    I:EntityYeti=0
    I:EntityYoyo=0
    I:EntityZoataur=0
    I:EntityZombie=0
    I:EntityZombieFrozen=0
    I:EntityZombieMushroom=0
    I:EntityZombieVillager=0
    I:FaeEntity=0
    I:FallingStar=0
    I:GCEntityClientPlayerMP=0
    I:GCEntityOtherPlayerMP=0
    I:GoldSlime=0
    I:IronSlime=0
    I:KnightSlime=0
    I:LootrChestMinecartEntity=0
    I:PurpleSlime=0
    I:RedSlime=0
    I:Seat=0
    I:SpectralSlime=0
    I:YellowSlime=0
    I:"update Interval"=1000
}


