# Configuration file

general {
    I:BlackSlime=1
    I:BlueSlime=1
    I:EntityAntiBat=1
    I:EntityBabySkeleton=1
    I:EntityBabySpider=1
    I:EntityBat=1
    I:EntityCaveSpider=1
    I:EntityCaveclops=1
    I:EntityCreeper=1
    I:EntityDepthsGhoul=1
    I:EntityEnderman=1
    I:EntityEnthralledDramcryx=1
    I:EntityGhostineAncient=1
    I:EntityJabberwock=1
    I:EntityLargeFireball=1
    I:EntityLiopleurodon=1
    I:EntityLostMiner=1
    I:EntityMotherVoidWalker=1
    I:EntityNightfly=1
    I:EntityRainbour=1
    I:EntityShade=1
    I:EntitySkeletalKnight=1
    I:EntitySkeleton=1

    # Set to 0 if you don't want that entclass to shine light when on fire
    I:EntitySkeletonMage=1
    I:EntitySlime=1
    I:EntitySpider=1
    I:EntityStoneling=1
    I:EntityStray=1
    I:EntitySupportCreeper=1
    I:EntityTreasureSlime=1
    I:EntityTrickster=1
    I:EntityTricksterClone=1
    I:EntityTrollager=1
    I:EntityWhale=1
    I:EntityWitch=1
    I:EntityZombie=1
    I:EntityZombieMushroom=1
    I:EntityZombieVillager=1
    I:IronSlime=1
    I:"update Interval"=1000
}


