# Configuration file

compat {
    I:aluminumVeinsPerChunk=0
    I:nickelVeinsPerChunk=0
    I:tinVeinsPerChunk=0
}


ores {
    I:copperVeinsPerChunk=0
    I:leadVeinsPerChunk=0
    I:quartzVeinsPerChunk=0
    I:silverVeinsPerChunk=0
}


