# Configuration file

entitiesalwaysinfernal {
    B:AS_EntityGolem=false
    B:BetterCaveSpiderEntity=false
    B:BetterSpiderEntity=false
    B:BossSkeleton=false
    B:BossZombie=false
    B:EntityAbyssalZombie=false
    B:EntityAntiAbyssalZombie=false
    B:EntityAntiCreeper=false
    B:EntityAntiGhoul=false
    B:EntityAntiPlayer=false
    B:EntityAntiSkeleton=false
    B:EntityAntiSpider=false
    B:EntityAntiZombie=false
    B:EntityAshen=false
    B:EntityBabySkeleton=false
    B:EntityBabySpider=false
    B:EntityBanshee=false
    B:EntityBasalz=false
    B:EntityBlueSlime=false
    B:EntityBombCarrier=false
    B:EntityBoneCreature=false
    B:EntityBrainSlime=false
    B:EntityBrainyZombie=false
    B:EntityBrute=false
    B:EntityBugeye=false
    B:EntityCalpod=false
    B:EntityCaveCrawler=false
    B:EntityCaveSpider=false
    B:EntityCaveclops=false
    B:EntityCharger=false
    B:EntityChomper=false
    B:EntityClown=false
    B:EntityCrab=false
    B:EntityCreeper=false
    B:EntityCryptkeeper=false
    B:EntityCultistPortalLesser=false
    B:EntityCyclops=false
    B:EntityDemonReaper=false
    B:EntityDepthsGhoul=false
    B:EntityDicer=false
    B:EntityDweller=false
    B:EntityElderGuardian=false
    B:EntityEnchantedBook=false
    B:EntityEnderSpider=false
    B:EntityEnderman=false
    B:EntityEnthralledDramcryx=false
    B:EntityEttin=false
    B:EntityEverbeast=false
    B:EntityEvilClassWizard=false
    B:EntityEvilWizard=false
    B:EntityFacelessRunner=false
    B:EntityFestiveCreeper=false
    B:EntityFishix=false
    B:EntityFlameSpewer=false
    B:EntityFoglet=false
    B:EntityGeist=false
    B:EntityGhost=false
    B:EntityGhostineAncient=false
    B:EntityGhoul=false
    B:EntityGlaceSkeleton=false
    B:EntityGoblin=false
    B:EntityGoon=false
    B:EntityGorgomite=false
    B:EntityGorgon=false
    B:EntityGuardian=false
    B:EntityHag=false
    B:EntityHarpy=false
    B:EntityHauntedTool=false
    B:EntityHeadlessHunter=false
    B:EntityHunch=false
    B:EntityHusk=false
    B:EntityIceCube=false
    B:EntityIllagerPiper=false
    B:EntityKingCrab=false
    B:EntityKobblin=false
    B:EntityKrake=false
    B:EntityLiopleurodon=false
    B:EntityMeleeRougeAndroidMob=false
    B:EntityMiner=false
    B:EntityMotherSpider=false
    B:EntityMotherVoidWalker=false
    B:EntityNightReaper=false
    B:EntityNightfly=false
    B:EntityPech=false
    B:EntityPigZombie=false
    B:EntityPingu=false
    B:EntityPiranha=false
    B:EntityPolarUrsa=false
    B:EntityPumpkinSpider=false
    B:EntityRainbour=false
    B:EntityRangedRogueAndroidMob=false
    B:EntityRemnant=false
    B:EntityRocketCreeper=false
    B:EntityRotatick=false
    B:EntitySasquatch=false
    B:EntityScuttler=false
    B:EntityShade=false
    B:EntityShadow=false
    B:EntityShadowBeast=false
    B:EntityShadowCreature=false
    B:EntityShadowMonster=false
    B:EntityShamblerTwisted=false
    B:EntityShark=false
    B:EntitySilverfish=false
    B:EntitySiren=false
    B:EntitySkeletalKnight=false
    B:EntitySkeleton=false
    B:EntitySkeletonMage=false
    B:EntitySkeletonWarrior=false
    B:EntitySkipper=false
    B:EntitySlime=false
    B:EntitySludgeLord=false
    B:EntitySnowCharger=false
    B:EntitySpectre=false
    B:EntitySpider=false
    B:EntityStray=false
    B:EntitySupportCreeper=false
    B:EntitySwampCharger=false
    B:EntityTheEye=false
    B:EntityTheGrue=false
    B:EntityTrickster=false
    B:EntityTroll=false
    B:EntityTrollager=false
    B:EntityUndeadSwine=false
    B:EntityUndertaker=false
    B:EntityVex=false
    B:EntityVoidCharger=false
    B:EntityVoidCreeper=false
    B:EntityVoidWalker=false
    B:EntityWendigo=false
    B:EntityWhale=false
    B:EntityWisp=false
    B:EntityWitch=false
    B:EntityWitherSkeleton=false
    B:EntityYeti=false
    B:EntityZombie=false
    B:EntityZombieFrozen=false
    B:EntityZombieMushroom=false
    B:EntityZombiePiranha=false
    B:EntityZombieVillager=false
}


entitybasehealth {
    D:AS_EntityGolem=200.1129150390625
    D:BetterSpiderEntity=16.0
    D:BossSkeleton=60.0
    D:EntityAbyssalZombie=101.2523193359375
    D:EntityAntiPlayer=120.0
    D:EntityBabySkeleton=60.0
    D:EntityBabySpider=8.000877380371094
    D:EntityBanshee=60.0
    D:EntityBlueSlime=4.0
    D:EntityBoneCreature=360.0
    D:EntityBrainSlime=1.0
    D:EntityBrainyZombie=225.0
    D:EntityBugeye=45.0
    D:EntityCaveCrawler=90.0
    D:EntityCaveSpider=12.0
    D:EntityCharger=60.0
    D:EntityClown=540.0
    D:EntityCreeper=60.0
    D:EntityCryptkeeper=75.0
    D:EntityDepthsGhoul=90.0
    D:EntityDweller=60.0
    D:EntityEnchantedBook=60.0
    D:EntityEnderman=65536.0
    D:EntityEnthralledDramcryx=240.0
    D:EntityEvilWizard=270.0
    D:EntityFacelessRunner=675.0
    D:EntityFestiveCreeper=43740.0
    D:EntityFlameSpewer=60.0
    D:EntityGeist=45.0
    D:EntityGhost=30.0
    D:EntityGhostineAncient=270.0
    D:EntityGhoul=45.0
    D:EntityGlaceSkeleton=60.0
    D:EntityGoblin=60.0
    D:EntityGoon=60.0
    D:EntityHag=45.0
    D:EntityHauntedTool=25.0
    D:EntityHunch=75.0
    D:EntityIceCube=1.0
    D:EntityIllagerPiper=60.0
    D:EntityLiopleurodon=10.0
    D:EntityMeleeRougeAndroidMob=96.100341796875
    D:EntityMiner=120.1849365234375
    D:EntityMotherSpider=90.0
    D:EntityMotherVoidWalker=3240.0
    D:EntityNightReaper=315.0
    D:EntityNightfly=45.0
    D:EntityPech=90.0
    D:EntityPolarUrsa=65536.0
    D:EntityRainbour=300.0274658203125
    D:EntityRangedRogueAndroidMob=32.0
    D:EntityRocketCreeper=65536.0
    D:EntityRotatick=120.13275146484375
    D:EntityShade=60.0
    D:EntityShadow=121.5
    D:EntityShadowBeast=300.0
    D:EntityShadowCreature=180.0
    D:EntityShadowMonster=150.0
    D:EntityShark=10.0
    D:EntitySkeletalKnight=60.00091552734375
    D:EntitySkeleton=30.592880249023438
    D:EntitySkeletonMage=60.0
    D:EntitySkeletonWarrior=75.0
    D:EntitySkipper=90.0
    D:EntitySnowCharger=540.0
    D:EntitySpectre=40.5
    D:EntitySpider=432.0
    D:EntityStray=270.0
    D:EntitySupportCreeper=65536.0
    D:EntityTrickster=65536.0
    D:EntityTroll=450.0
    D:EntityVex=42.0
    D:EntityVoidCharger=65536.0
    D:EntityVoidWalker=90.0
    D:EntityWhale=10.0
    D:EntityWisp=66.0
    D:EntityWitch=78.00238037109375
    D:EntityYeti=90.0
    D:EntityZombie=90.0
    D:EntityZombieVillager=90.0
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=true
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true
    S:dimensionIDBlackList=
    B:disableGUIoverlay=false
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book
    I:eliteRarity=15
    I:infernoRarity=7
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0
    S:mobHealthFactor=1.0
    I:ultraRarity=7
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:AS_EntityGolem=true
    B:BetterCaveSpiderEntity=true
    B:BetterSpiderEntity=true
    B:BossSkeleton=true
    B:BossZombie=true
    B:EntityAbyssalZombie=true
    B:EntityAntiAbyssalZombie=true
    B:EntityAntiCreeper=true
    B:EntityAntiGhoul=true
    B:EntityAntiPlayer=true
    B:EntityAntiSkeleton=true
    B:EntityAntiSpider=true
    B:EntityAntiZombie=true
    B:EntityAshen=true
    B:EntityBabySkeleton=true
    B:EntityBabySpider=true
    B:EntityBanshee=true
    B:EntityBasalz=true
    B:EntityBlueSlime=true
    B:EntityBombCarrier=true
    B:EntityBoneCreature=true
    B:EntityBrainSlime=true
    B:EntityBrainyZombie=true
    B:EntityBrute=true
    B:EntityBugeye=true
    B:EntityCalpod=true
    B:EntityCaveCrawler=true
    B:EntityCaveSpider=true
    B:EntityCaveclops=true
    B:EntityCharger=true
    B:EntityChomper=true
    B:EntityClown=true
    B:EntityCrab=true
    B:EntityCreeper=true
    B:EntityCryptkeeper=true
    B:EntityCultistPortalLesser=true
    B:EntityCyclops=true
    B:EntityDemonReaper=true
    B:EntityDepthsGhoul=true
    B:EntityDicer=true
    B:EntityDweller=true
    B:EntityElderGuardian=true
    B:EntityEnchantedBook=true
    B:EntityEnderSpider=true
    B:EntityEnderman=true
    B:EntityEnthralledDramcryx=true
    B:EntityEttin=true
    B:EntityEverbeast=true
    B:EntityEvilClassWizard=true
    B:EntityEvilWizard=true
    B:EntityFacelessRunner=true
    B:EntityFestiveCreeper=true
    B:EntityFishix=true
    B:EntityFlameSpewer=true
    B:EntityFoglet=true
    B:EntityGeist=true
    B:EntityGhost=true
    B:EntityGhostineAncient=true
    B:EntityGhoul=true
    B:EntityGlaceSkeleton=true
    B:EntityGoblin=true
    B:EntityGoon=true
    B:EntityGorgomite=true
    B:EntityGorgon=true
    B:EntityGuardian=true
    B:EntityHag=true
    B:EntityHarpy=true
    B:EntityHauntedTool=true
    B:EntityHeadlessHunter=true
    B:EntityHunch=true
    B:EntityHusk=true
    B:EntityIceCube=true
    B:EntityIllagerPiper=true
    B:EntityKingCrab=true
    B:EntityKobblin=true
    B:EntityKrake=true
    B:EntityLiopleurodon=true
    B:EntityMeleeRougeAndroidMob=true
    B:EntityMiner=true
    B:EntityMotherSpider=true
    B:EntityMotherVoidWalker=true
    B:EntityNightReaper=true
    B:EntityNightfly=true
    B:EntityPech=true
    B:EntityPigZombie=true
    B:EntityPingu=true
    B:EntityPiranha=true
    B:EntityPolarUrsa=true
    B:EntityPumpkinSpider=true
    B:EntityRainbour=true
    B:EntityRangedRogueAndroidMob=true
    B:EntityRemnant=true
    B:EntityRocketCreeper=true
    B:EntityRotatick=true
    B:EntitySasquatch=true
    B:EntityScuttler=true
    B:EntityShade=true
    B:EntityShadow=true
    B:EntityShadowBeast=true
    B:EntityShadowCreature=true
    B:EntityShadowMonster=true
    B:EntityShamblerTwisted=true
    B:EntityShark=true
    B:EntitySilverfish=true
    B:EntitySiren=true
    B:EntitySkeletalKnight=true
    B:EntitySkeleton=true
    B:EntitySkeletonMage=true
    B:EntitySkeletonWarrior=true
    B:EntitySkipper=true
    B:EntitySlime=true
    B:EntitySludgeLord=true
    B:EntitySnowCharger=true
    B:EntitySpectre=true
    B:EntitySpider=true
    B:EntityStray=true
    B:EntitySupportCreeper=true
    B:EntitySwampCharger=true
    B:EntityTheEye=true
    B:EntityTheGrue=true
    B:EntityTrickster=true
    B:EntityTroll=true
    B:EntityTrollager=true
    B:EntityUndeadSwine=true
    B:EntityUndertaker=true
    B:EntityVex=true
    B:EntityVoidCharger=true
    B:EntityVoidCreeper=true
    B:EntityVoidWalker=true
    B:EntityWendigo=true
    B:EntityWhale=true
    B:EntityWisp=true
    B:EntityWitch=true
    B:EntityWitherSkeleton=true
    B:EntityYeti=true
    B:EntityZombie=true
    B:EntityZombieFrozen=true
    B:EntityZombieMushroom=true
    B:EntityZombiePiranha=true
    B:EntityZombieVillager=true
}


