# Configuration file

general {
    # This tells Forge the max amount of Superpowers allowed to be registered.
    # If for some reason you need more than 8192 Superpowers, this exists.
    # (default: 8192)
    # range: 512 - 2147483646
    # Min: 512
    # Max: 2147483646
    I:NUMBER_OF_SUPERPOWER_IDS=8192
}


