# Configuration file

general {
    # If enabled, the Vormir Dungeon will generate in the Vormir.
    B:GENERATE_VORMIR_DUNGEON=false
    I:MICROSCOPIC_DIMENSION_ID=182
    I:QUANTUM_REALM_DIMENSION_ID=181
    I:SOUL_DIMENSION_ID=184
    I:STRUCTURE_SHRINKER_LIMIT=32
    I:VORMIR_DIMENSION_ID=183
}


