# Configuration file

general {
    # This causes the deletion slot to delete items instantly, similar to Creative Mode. [default: false]
    B:"Instant Deletion"=false
}


gui {

    "net/minecraft/client/gui/guimerchant" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "de/ellpeck/actuallyadditions/mod/inventory/gui/guigiantchest" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=93
        I:"Slot Y"=129
    }

    "net/minecraft/client/gui/inventory/guiinventory" {
        # The x coordinate of the anchor point for the slot position.
        S:"Anchor X"=0.5

        # The y coordinate of the anchor point for the slot position.
        S:"Anchor Y"=0.5

        # True if this screen should have a trash slot.
        B:Enabled=true

        # The x coordinate of the slot relative to the anchor.
        I:"Slot X"=60

        # The y coordinate of the slot relative to the anchor.
        I:"Slot Y"=83
    }

    "net/minecraft/client/gui/inventory/guichest" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=true
        I:"Slot X"=60
        I:"Slot Y"=84
    }

    "com/zeitheron/hammercore/client/gui/impl/smooth/guifurnacesmooth" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "net/minecraft/client/gui/inventory/guichest_large" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=true
        I:"Slot X"=60
        I:"Slot Y"=111
    }

    "shadows/fastbench/gui/guifastbench" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "slimeknights/tconstruct/tools/common/client/guitoolstation" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=176
        I:"Slot Y"=103
    }

    "slimeknights/tconstruct/tools/common/client/module/guibuttonstoolstation" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=25
        I:"Slot Y"=31
    }

    "slimeknights/tconstruct/tools/common/client/module/guiinfopanel" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=35
        I:"Slot Y"=41
    }

    "slimeknights/tconstruct/tools/common/client/guistenciltable" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=102
        I:"Slot Y"=124
    }

    "slimeknights/tconstruct/tools/common/client/guiscalingchest" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=53
        I:"Slot Y"=27
    }

    "de/ellpeck/actuallyadditions/mod/inventory/gui/guifermentingbarrel" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=89
    }

    "de/ellpeck/actuallyadditions/mod/inventory/gui/guigrinder" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=89
    }

    "de/ellpeck/actuallyadditions/mod/inventory/gui/guicanolapress" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=89
    }

    "de/ellpeck/actuallyadditions/mod/inventory/gui/guicoalgenerator" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=89
    }

    "v0id/vsb/client/gui/guibackpack" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=66
    }

    "baubles/client/gui/guiplayerexpanded" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "lain/mods/cos/client/guicosarmorinventory" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

    "xzeroair/trinkets/client/gui/trinketgui" {
        S:"Anchor X"=0.5
        S:"Anchor Y"=0.5
        B:Enabled=false
        I:"Slot X"=60
        I:"Slot Y"=83
    }

}


